body{
    background:#a5b5c5;
    background:lightblue !important;
}

.box {
    background: #fff;
    border-radius: 20px;
    /*width: 50%;*/
    /*height: 90%;*/
    text-align: center;
    font-size: 25pt;
    /*padding-bottom: 50%;*/
    padding-top: 30%;

}

.col-lg-2 {
    margin-top: 20px !important;
}

.counter {
    font-size: 13pt;
    text-align: right;
    margin-top: .10in;
    padding-top: .10in;
    padding-right: 10px;
}

div.vowel{
    background-color: silver;
}

div.consonant {
    background-color: pink;
}

.uppercase {
    font-weight: bold;
}

.lowercase {
    font-weight: lighter;
}